{% extends "layout.njk" %}

{% block head %}

  <title>Sobre - jvmMachado</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

{% endblock %}

{% block content %}

  <div id="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/26936266?s=460&v=4" alt="jvmMachado"/>
    <h1>jvmMachado</h1>
    <h2>
      Co-Fundador do
      <a href="https://youtube.com/nerdpack" target="_blank">Nerdpack</a>
    </h2>
  </div>

  <div class="links footer-links">
    <a href="https://github.com/jvmMachado" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/jvmmachado/" target="_blank">Linkedin</a>
  </div>

{% endblock %}