<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block head %}
      <title>jvmMachado</title>
    {% endblock %}

    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/" class="about-link active-tab">Sobre</a>
        <a href="/portfolio" class="portfolio-link">Aulas</a>
      </div>
    </header>

    {% block content %}{% endblock %}
  </body>
</html>